@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins:wght@200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(213,225,239);
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    display:flex;
    align-items: center;  
    font-size: 13px;
}
.container{
    margin: 0 auto;
    max-width: 360px;
}
.card img{
    width: 100%;
    border-radius:0.6rem;
}
.card{
    background-color: hsl(0,0%,100%);
    padding:2rem;
    border-radius:15px;
    text-align:center;
    margin:1rem;
}
.text{
    padding: 12px 10px;
}
.text p{
    padding-top:15px;
    color:hsl(212, 45%, 89%)
}
.text h2{
    color:hsl(218, 44%, 22%);
}
